.errorsInputs {
  color: #ef1c1c;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.errorsBack {
  display: flex;
  justify-content: center;
  min-height: 2rem;
  max-width: 80%;
  margin: 0;
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #ef1c1c;
  color: #ffffff;
}