body {
  background-color: #939393;
  color: white;
}

main {
  margin: 0rem 2rem;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 2rem;
  font-size: 4rem;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background: #939393;
  border-radius: 1rem;
  margin-top: 2rem;
  background: linear-gradient(360deg, #ff0000 100%, #939393 99%);
  box-shadow: 0px 5rem 2rem 6.3rem #ff0000;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 600;
}

.footer a {
  text-decoration: none;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

.footer a:hover {
  color: #0087E4;
}

.footer h2 {
  color: #0087E4;
  font-size: 1.8rem;
  font-weight: 1000;
  text-decoration: underline;
}